body{
    background-color: #1717c2;
}
.bienvenida_mainDiv
{
    border: 5px solid rgb(255, 255, 255);
}

.bienvenida_mainDiv img
{
  width: 100%;
}

.bienvenida_mainDiv h5 , .bienvenida_mainDiv p
{
margin: 20px;
}
.page-header{
   color:white; 
}
.text-capitalize{
    color: white;
    font-size: 30px;
}
kbd{
    background-color: black;
}
.text-muted{
    color: white;
}

.videos_head
{
    font-size: 25px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

p{
    color: whitesmoke;
}
.videos_head i
{
float: right;
}

.videos_text span
{
color: rgb(255, 234, 0);
}


.aparatos 
{
    margin-bottom: 20px;
}

a:link{
    color:white;
}
a:visited{
    color:greenyellow;
}

#contact iframe
{
    width: 100%;
}



